@import url(styles.css);

/* Categorias */

.dsc-category {
    background-color: var(--dsc-color-bg-tertiary);
    border-radius: 4px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: var(--dsc-color-font-quaternary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.dsc-categories-container {
    display: flex;
    flex-wrap: wrap;
}

/* Detalhes do Produto */

#product-details-sections {
    padding: 20px 0;
}


.dsc-product-details-top {
    padding: 10px;
    display: flex;
    justify-content: center;

}

.dsc-product-details-top img {
    width: 220px;
}

.dsc-product-details-bottom {
    padding: 10px 20px;
}

.dsc-product-details-bottom h3 {
    color: var(--dsc-color-font-secondary);
    font-size: 20px;
}

.dsc-product-details-bottom h4 {
    font-size: 14px;
    color: var(--dsc-color-font-primary);
}

.dsc-product-details-bottom p {
    color: var(--dsc-color-font-primary);
    font-size: 14px;
    margin: 10px 0;
}